body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 80px;
  color: rgb(224, 144, 171);
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
h5 {
  color: pink;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
p {
  display: block;
  margin: 0 auto;
  text-align: left;
  max-width: 500px;
}

button {
  background-color: pink;
  border-style: none;
  color: white;
}

footer {
  margin-top: 50px;
  padding: 80px;
  background-color: rgba(11, 11, 11, 0.972);
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: pink;
}

.home-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.social-icons {
  color: pink;
  margin-left: 20px;
}

.thumbnails {
  width: 300px;
}

.clearfix {
  text-align: left;
}

.banner {
  position: relative;
  height: 250px;
  overflow: hidden;
  text-align: center;
  opacity: 50%;
}

.paragraph {
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
  background-color: pink;
  width: 50%;
}

.logo {
  max-width: 195px;
  line-height: 10px;
}
